<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome to NLP sentiment Analysis Engine</title>

    <style>
            th, td {
            border: 1px solid black;
            border-radius: 10px;
            width: 100px;
            background-color: darkorange;
            color: darkred;
            text-align: center;
            font-size: large;
            }
    </style>
    <div style="padding-bottom: 20px;">
    <table>
        <td><a href="{{url_for('home')}}">HOME</a></td>
        <td><a href="{{url_for('predict')}}">Predict</a></td>
    </table>
</div>
    
</head>
<body>
    {% block content %}
    {% endblock%}

</body>
</html>